/* globals.css */

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  background-image: url('/gradient_background.jpg');
  background-size: cover;
  background-position: center;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.logo {
  margin: 0 10px;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  color: #aaa;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 1.25rem;
  color: #868eec;
}

.table-responsive {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  overflow-x: auto;
}

.table thead th {
  background-color: #343a40;
  color: white;
  border: none;
}

.table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.table td, .table th {
  border: none;
}

.table img {
  border-radius: 50%;
}

.text-primary {
  text-decoration: underline;
  color: blue;
}

.logo {
  position: absolute;
  width: 80px; /* Adjust the size */
}

#eigenlayer-logo {
  top: 20px;
  left: 20px;
}

#dune-logo {
  top: 20px;
  right: 20px;
}

.clickable-cell {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.clickable-cell:hover {
  background-color: #f0f0f0;
}
