/* globals.css */

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: #131313;
}


h1 {
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  color: azure !important; 
  font-weight: 600 !important;

}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  color: azure !important; 
  font-weight: 400 !important;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 1.25rem;
  color: azure !important; 
  font-weight: 300 !important;
}

.table-responsive {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  overflow-x: auto;
}

.table thead th {
  background-color: #343a40;
  color: white;
  border: none;
}

.table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.table td, .table th {
  border: none;
}

.table img {
  border-radius: 50%;
}

.text-primary {
  text-decoration: underline;
  color: blue;
}

.logo-container {
  width: 100%;
}

#nodezilla-logo {
  width: 160px;
}

.clickable-cell {
  cursor: pointer;
}

.clickable-cell:hover {
  background-color: #f0f0f0;
}


.charts {
  height: 75vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.toggle-switch {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 36px;
  color: azure !important; 
}

.switch-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.operator-switch {
  font-size: 24px;
  color: azure;
}